.men-container h3 {
  text-transform: uppercase;
}
.men-container {
  background: #eee;
  text-align: center;
}
.men-shoes p {
  font-size: 15px;
}

.men-design {
  list-style: none;
  width: 100%;
  padding: 0%;
}
.men-design li {
  display: block;
  float: left;
  width: 25%;
}
.shoe-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}
.shoe-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}
.shoe-photo img:hover {
  opacity: 1;
  transform: scale(1.03);
}
.quality-shoes {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
}
