.women-container h3 {
  padding-top: 10px;
  text-transform: uppercase;
}
.women-container {
  background: #eee;
  text-align: center;
  margin-left: 5%;
}

.women-fashion p {
  font-size: 15px;
}
.customer-testimonials p {
  display: flex;
  flex-direction: column;
}
.women-styles {
  list-style: none;
  width: 100%;
  padding: 0%;
}
.women-styles li {
  display: block;
  float: left;
  width: 25%;
}
.shoe-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}
.shoe-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}
.shoe-photo img:hover {
  opacity: 1;
  transform: scale(1.03);
}
